@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&display=swap");

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*,
input,
button,
textarea {
  font-family: "Noto Sans JP", sans-serif;
}
